<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diploma.Properties.Settings.VRP_Accounting_DB_ConnectionString"
            connectionString="Data Source=|DataDirectory|\VRP_Accounting_DB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>